
.mobile-menu {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow-y: scroll;

    display: none;
    flex-direction: column;

    background-color: #fff;
    z-index: 1;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &.is-open {
        display: flex;
    }
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__link {
    font-size: 40px;
    font-weight: 500; 
    color: var(--primary-text-color);
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.mobile-menu__link--current {
    color: var(--accent-color);
}


.mobile-menu__contacts {
    margin-top: auto;
    margin-bottom: 64px;
}



.mobile-menu__title-cont:not(:last-child) {
   margin-bottom: 32px;

   
}

.mobile-menu__link-cont {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.mobile-menu__link-mob {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.18;
}





.mobile-menu__social {
    display: flex;
    flex-wrap: wrap;
}


.mobile-menu__item-soc:not(:last-child)::after {
    content: '';
   
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
    margin-left: 10px;
}

.mobile-menu__link-soc {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.is-open {
    overflow: hidden;
}
