body {
    font-family: Roboto, sans-serif;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}

//section style
.section {
    
    @media screen and (min-width:480px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}



