html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}

body.modal-open {
    overflow: hidden;
}

body.is-open {
    overflow: hidden;
}

//section style
.section {
        padding-top: 60px;
        padding-bottom: 60px;
    

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}



