
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    min-width: 100%;
}

a {
    text-decoration: none;
}

/* Прибирає стилі */
.list {
    list-style: none;
    padding-left: 0;
}


.no-pb {
    @media screen and (min-width: 1200px) {
    padding-bottom: 0;
    }
}

