/* Hero */
.section-main {
    
    padding-top: 118px;

    text-align: center;
    background-color: var(--primary-bg-color);


    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.section-main__title {
    font-size: 26px;
    line-height: 1.62;
    font-weight: 900;
    letter-spacing: 0.06em;

    margin-bottom: 30px;
    
    text-transform: uppercase;
    color: var(--spec-color);


            

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
    }

/* Фон */
.overlay {
    width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Fon.jpg);

            

        @media screen and (min-width: 768px) {
            width: 768px;
            height: 400px;
        }

        @media screen and (min-width: 1200px) {
            width: 100%;
            height: 600px;
        }
}



/* All Section  */

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width:480px) {
        font-size: 28px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

.section_process {

    @media screen and (max-width: 1199px) {
        display: none;
    }
}