%button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    padding: 10px 29px;
    color: var(--spec-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}