/* =============
    Наша команда
    ============ */

.team {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    margin: -15px;
  }
}

.section.color {
  background-color: var(--bg-color-button);
}

.team__item {
  text-align: center;
  // width: 450px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  //     @media screen and (min-width: 768px) {
  //             width: 354px;
  //             margin-right: 30px;
  //             margin-bottom: 30px;
  //         }

  //     //Viewport 1200
  //      @media screen and(min-width: 1200px) {
  //         width: 270px;
  //         margin-right: 30px;
  //                 }

  //     &:nth-last-child(-n + 4) {
  //         @media screen and (min-width: 1200px) {
  //             margin-bottom: 0;
  //         }
  //     }

  //     //Viewport 480px
  //     &.team__item:not(:last-child) {
  //         margin-bottom: 30px;

  //     }

  //     //Viewport 768px

  //    &:nth-child(2n) {
  //     @media screen and (min-width: 768px) and (max-width: 1199.98px) {
  //         margin-right: 0;
  //         margin-bottom: 30px;
  //     }
  //    }

  //     &:nth-last-child(-n+2) {
  //         @media screen and (min-width: 768px) and (max-width: 1199.98px) {
  //             margin-bottom: 0;
  //         }
  //     }
}

// .team__item.team__item:nth-child(4n) {
//     @media screen and (min-width: 1200px) {
//         margin-right: 0;
//     }
// }

.description__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.description__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--spec-color);
  border-radius: 0 0 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team_image {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.14),
    0px 0px 1px rgba(0, 0, 0, 0.2);
}
