

// Контакти у хедері
.header-contacts {
    display: none;
    
    @media screen and (max-width: 767px ) {
        
    }
    
    @media screen and (min-width: 768px) {
        display: block;
        text-align: right;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
    }
}

/* Відступ між контактами */
.header-contacts__item+.header-contacts__item {
    
    @media screen and (min-width: 768px) {
         margin-left: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 50px;
    }
}

.header-contacts__link {
    display: flex;
    
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
        &:hover .header-contacts__icon-mail,
        &:focus .header-contacts__icon-mail,   
        &:hover .header-contacts__icon-phone,
        &:focus .header-contacts__icon-phone {
            fill: var(--accent-color);
}

    @media screen and (min-width: 768px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

/* Ще один варіант ховера 
   іконки разом із посиланням
   Додати змінну fill="var(--icon-color, #000)" в svg
     .icon-mail{
        width: 16px;
            height: 12px;
            margin-right: 10px;
            --icon-color: currentColor;
     }

   */

   .header-contacts__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;

    fill: var(--title-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 14px;
        height: 10px;
    }
}


.header-contacts__icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--title-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 10px;
        height: 14px;
    }
}

// Контакти у футері
.address {
    /* display: flex;  */
    text-align: center;
    margin-bottom: 60px;

    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--spec-color);

   
    

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.addrwrap {

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 232px;
        }
    }
   

.address__info {
    display: inline-block;
    color: var(--color-footer);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.address__link:not(:last-child) {
    margin-bottom: 9px;
}

.address__text {
    margin-bottom: 9px;
}

.connect {
    text-align: center;
    margin-left: 0;
    margin-bottom: 60px;



    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }    

    @media screen and (min-width: 1200px) {
        text-align: left;
        margin-left: 70px;
    }

}

.connect__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--spec-color);
    text-transform: uppercase;
}