
/*  Футер   */

.footermain {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--primary-bg-color);
}

/* ===================
    Форма Підписатись
   ===================  */
.form-footer {
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 480px) {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    @media screen and (max-width: 1199px) {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        
        
    }
}

.fortablet {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 60px;
    }
    
    @media screen and (min-width:1200px) {
        display: flex;
    }
   }

.form-footer__title {
    display: flex;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--spec-color);
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
            display: block;    
            text-align: center;
    }

}

.form-footer__mail {
    
    height: 50px;
    padding-left: 16px;
    background-color: var(--fh-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--title-text-color);

    &:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

         @media screen and (min-width: 480px) {
             width: 100%;
             margin-bottom: 20px;
            }

        @media screen and (min-width: 1200px) {
            width: 358px;
        }
}

.form-footer__button {
    margin-left: 12px;
}
